<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans  http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">
    <context:component-scan base-package="annotation">
        <context:include-filter type="annotation" expression="annotation.MyComponent"/>
        <!--<context:include-filter type="custom" expression="spring.CustomTypeFilter"/>-->
    </context:component-scan>

    <!--这种方式还没找到怎么注入CustomTypeFilter的构造函数参数-->
    <bean id="customTypeFilter" class="spring.CustomTypeFilter">
        <constructor-arg value="annotation.MyComponent"/>
    </bean>
</beans>